
*{
  box-sizing: border-box;
  margin: 0px;
}


.navbar{
  height: auto;
  background-color: rgb(253, 237, 237);
  display: flex;
  padding: 0.3rem;
  align-items: center;
  position: sticky;
  top: 0px;
}

.nav_left{
  /* background-color: blue; */
  height: auto;
  flex:1;
}


.left_logo{
  /* background-color: blue; */
  border: 1px solid red;
  display: flex;
  align-items: center;
}

.left_logo > img {
  margin-right:0.5rem ;
}


.left_logo > i{
  color: red;
  position: relative;
  left: 1.8rem;
 
}


.left_logo > input {
  padding: 0.8rem;
  width: 70%;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: rgb(234, 232, 232);
  text-align: center;

}



.nav_center{
  background-color: pink;
  height: auto;
  flex: 2;
 
 
}


.center_icons{
  border: 1px solid red;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;

}

.center_icons > i{
  color: orange;
  padding: 1rem 3rem;
  background-color: rgb(183, 180, 180);
  cursor: pointer;
}


.nav_right{
  height: auto;
  background-color: orange;
  flex:1;
}


.right_icons{
  border: 1px solid red;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  margin-left: 1rem;
  align-items: center;
  

}


.right_icons > i {
  background-color: blue;
  padding: 1rem;
  border-radius: 50%;
}


.right_icons > img {




}



/* main section css start  */


.parent{
  border: 1px solid red;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.left_section{
  flex: 1;
  background-color: white;
  overflow: scroll;
  height: 100vh;

}

.center_section{
  flex: 2;
  background-color: blue;
  overflow: scroll;
  height: 100vh;
}

.right_section{
  flex: 1;
  background-color: orange;
  overflow: scroll;
  height: 100vh;
}


.left_child{
  /* border: 1px solid blue; */
  padding-left: 1rem;
}


.profile_info{
  /* border: 1px solid orange; */
  display: flex;
  align-items: center;
  padding:1rem ;
  cursor: pointer;
}

.profile_info:hover{
  background-color: rgb(236, 240, 255);
}



.profile_info > span{
  font-size: 1rem;
  font-family: "Poppins";
  text-transform: capitalize;
  font-weight: bold;
  padding-left: 1rem;


}



.profile_info > i{
  color: rgb(255, 3, 87);
  font-size: 1.2rem;
}



.shortcut_text{
  font-size: 1rem;
  font-family: "Poppins";
  text-transform: capitalize;
  font-weight: bold;
  padding-left: 1rem;

}